@keyframes start {
    0%,30% {
        opacity: 0;
        transform: translate(0,10px);
      }
      60% {
        opacity: 1;
        transform: translate(0,0);
      }
      100% {
        opacity: 0;
        transform: translate(0, -5px);
      }
  }
  @keyframes rotate{
      to {
          transform: rotate(359deg);
      }
      from{
          transform: rotate(0);
      }
  }